@import "src/assets/styles/base/_fonts";
@import "src/assets/styles/helpers/variables";
@import "src/assets/styles/helpers/mixins";
@import "src/assets/styles/helpers/visual";
@import "src/assets/styles/helpers/typography";
button{
  margin: 0 auto;

  border-radius: $borderRadius;
  @include btn-hover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8vw 7vw;

  @include textPlain;
  font-weight: bold;
  font-size: 1vw;
  background: $university__brand-color;
  color: white;

  &:hover {
    background: $university__brand-color--hover;
  }
}