@import "src/assets/styles/base/fonts";
@import "src/assets/styles/helpers/variables";
@import "src/assets/styles/helpers/mixins";
@import "src/assets/styles/helpers/visual";
@import "src/assets/styles/helpers/typography";

.nameAndPatronymic{
  display: flex;
  justify-content: space-between;
  .input{
    padding-right: 8px;
  }
}