@import "src/assets/styles/base/fonts";
@import "src/assets/styles/helpers/typography.scss";

.label-block {
  @include textPlain;
  font-weight: bold;

  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 12px;
  border-radius: 36px;

  color: $label-fontColor;
  background: $label-backgroundColor;
}