@import "src/assets/styles/base/fonts";
@import "src/assets/styles/helpers/typography.scss";

.label-block {
  @include textPlain;
  font-weight: bold;
  font-size: 0.8em;

  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.5em 1em;
  margin: 0.25em 0.5em;
  border-radius: 2em;

  color: $label-fontColor;
  background: $label-backgroundColor;
}