@import "src/assets/styles/helpers/typography";
@import "src/assets/styles/helpers/variables";
.mainPage {
  @include textPlain;
  color: $text__default-color--black;

  h1, h3 {
    font-weight: 700;
  }

  h1 {
    font-size: 3em;
  }

  h3 {
    font-size: 2em;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  width: 65vw;
  flex-wrap: wrap;
  .quickAction{
    margin-bottom: 1.4vw;
  }
}

@media screen and (max-width: 1890px) {
  .mainPage{
    font-size: 90%;
  }
}
@media screen and (max-width: 1350px) {
  .mainPage{
    font-size: 80%;
  }
}

@media screen and (max-width: 1170px) {
  .mainPage{
    font-size: 70%;
  }
}

@media screen and (max-width: 1080px) {
  .mainPage{
    font-size: 60%;
  }
}

@media screen and (max-width: 820px) {
  .mainPage{
    font-size: 50%;
  }
}
