@import "src/assets/styles/helpers/variables";
@import "src/assets/styles/helpers/mixins";
@import "src/assets/styles/helpers/visual";
@import "src/assets/styles/helpers/typography";

.button-of-quick-action {
    cursor: pointer;
    margin: 0;
    border-radius: 0.5vw;
    @include btn-hover;
    width: 25em;
    height: 8.25em;
    display: block;
    padding: 0.8vw 1vw;
    background: $quick__btn-background-5;
    border: 0.1vw solid $quick__btn-background-5;
    box-sizing: border-box;

    &:hover {
        background: $quick__btn-background-5-hover;
        border: 0.1vw solid $text__default-color--black;
        box-sizing: border-box;
    }
}


.name-of-block {
    @include textPlain;
    display: flex;
    align-items: center;
    font-size: 1.66em;
    font-weight: 700;
    text-align: left;
    margin-bottom: 0.8vw;
    img{
        width: 1.5rem;
    }
}

.main-text-of-block {
    @include textPlain;
    font-size: 1em;;
    font-weight: 500;
    text-align: left;
    display: block;
}