@import "../helpers/variables";
@import "../helpers/typography";
@import "../base/common";
@import "../helpers/visual";

.sidebar-btn {
  width: 18.7rem;
  height: 3.5rem;
  background-color: $background-color;
  @include textPlain;
  font-weight: bold;
  font-size: 1.5rem;
  color: $text__default-color--gray;
  display: flex;
  align-items: center;
  cursor: pointer;
  &:hover {
    background-color: $item__state-background--blur;
  }

  img {
    color: $text__default-color--gray;
    fill: $text__default-color--gray;
    margin-left: 3.7rem;
  }
  p {
    margin: 0 0 0 1rem;
  }
}
.selected {
  color: $university__brand-color;
  &::before {
    content: "";
    border-color: $university__brand-color;
    border-style: solid;
    border-bottom-width: 3.4rem;
    border-radius: 0 $borderRadius $borderRadius 0;
  }
}