@import "../../helpers/variables";
@import "../../helpers/typography";
@import "../../base/common";
@import "../../helpers/visual";

.sidebar-btn {
  width: 17vw;
  height: 3vw;
  @include textPlain;
  font-weight: bold;
  font-size: 1.25vw;
  color: $text__default-color--gray;
  display: flex;
  align-items: center;
  cursor: pointer;
  &:hover {
    background-color: $item__state-background--blur;
  }

  img {
    color: $text__default-color--gray;
    fill: $text__default-color--gray;
    margin-left: 3vw;
    height: 1.9vw;
    width: 1.9vw;
  }
  p {
    margin: 0 0 0 1vw;
  }
}
.selected {
  color: $university__brand-color;
  &::before {
    content: "";
    border-color: $university__brand-color;
    border-style: solid;
    border-bottom-width: 2.9vw;
    border-radius: 0 $borderRadius $borderRadius 0;
  }
}